* {
    // background-color: seagreen;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    nav {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
}

button {
    background-color: white;
}